
<div class="bg">

    <div class="text">
        <a routerLink="/auth/login" class="ov-btn-slide-right">
                <h1>Login</h1>                
        </a>
    </div>


    <div class="text">
        <a routerLink="/auth/registro" class="ov-btn-slide-right">
                <h1>Registro</h1>
        </a> 
    </div>


    <div class="text">
        <a routerLink="/heroes/agregar" class="ov-btn-slide-right">
                <h1>Agregar Heroe</h1>
        </a>
    </div>
   


</div>    


